<%= render "shared/show_anime", anime: anime %>
<% if user_signed_in? %>
  <section id="review_form">
    <%= render "shared/review_form", anime: anime unless current_user.review_anime?(anime.id).present? %>
  </section>
<% end %>
  <div id="reviews_<%= anime.id %>">
    <%= render @reviews, anime: anime if anime.reviews.any? %>
  </div>
