<% provide :title, t("page_title.all_animes") %>
<div class="header-bottom row">
    <div class="header-bottom-top">
      <%= form_for_filterrific @filterrific do |f| %>
        <div class="form-group">
          <%= label_tag t("searchanime") %>
          <%= f.text_field :search_query, placeholder: t(:search),
            class: "filterrific-periodically-observed form-control" %>
        </div>
      <% end %>
    </div>
    <div class="clearfix"> </div>
    <div id="filterrific_results">
      <%= render "animes/animes", animes: @animes %>
    </div>
</div>
