@import "bootstrap-sprockets";
@import "bootstrap";

/* all */

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 80px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.center {
  text-align: center;
}

a:hover {
  text-decoration: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.btn {
  border-radius: 0;
}

.margin-top {
  margin-top: 5px;
}

.margin-bottom {
  margin-bottom: 5px;
}

/* header */

.logo {
  img {
    width: 50px;
    float: left;
    margin-right: 10px;
  }
}

.navbar-user {
  background: linear-gradient(#aa80ff, #ddccff);
  border: none;
  a {
    color: black;
  }
  .logo-title {
    color: #000;
  }
}

.logo-title {
  font-size: 12px;
}

.signup-btn, .login-btn {
  padding: 1px !important;
}

/* footer */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  border-top: 1px solid #eaeaea;
  padding-top: 8px;
}

footer p {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* Sidebar */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/* Main content */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/* comment */

.comment {
  position: relative;
  padding: 10px;
  border: 1px solid lightgrey;
  margin-top: 15px;
}

.comment:hover .attributes-visible {
  display: block;
}

.comment-form {
  margin-top: 15px;
}

/* review */

.review-header {
  padding: 5px;
  border: 1px solid grey;
  margin-bottom: 1px;
}

.review-body {
  position: relative;
  border: 1px solid grey;
  padding: 5px;
  margin-bottom: 30px;
}

.review-user-info {
  width: 25%;
  float: left;
}

.add-comment {
  position: absolute;
  bottom: 5px;
}

.review-content {
  width:75%;
  margin-left: 25%;
}

.review-rate {
  float: left;
  color: white;
  background-color: royalblue;
  font-size: 200%;
  height: 50px;
  width: 50px;
  padding: 5px;
}

.review-title {
  font-size: 120%;
  background-color: lightsteelblue;
  height: 50px;
  word-wrap: break-word;
  overflow: auto;
  padding-left: 5px;
}

.attributes-visible {
  display: none;
  position: absolute;
  padding: 0 5px;
  border: 1px solid grey;
  border-top: white;
  right: -1px;
  bottom: -21px;
  background-color: white;
}

.review:hover .attributes-visible {
  display: block;
}

.review-small {
  position: relative;
  border: 1px solid grey;
  padding: 5px;
  margin-bottom: 30px;
}

.review-footer {
  padding-top: 5px;
  border-top: 1px solid lightgrey;
}

.votes-button {
  -moz-box-shadow: 0px 1px 0px 0px #fce2c1;
  -webkit-box-shadow: 0px 1px 0px 0px #fce2c1;
  box-shadow: 0px 1px 0px 0px #fce2c1;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
  background:-moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background:-webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background:-o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background:-ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25',GradientType=0);
  background-color:#ffc477;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-weight:bold;
  padding: 3px 10px;
  text-shadow:0px -1px 0px #cc9f52;
}
.votes-button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
  background:-moz-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background:-webkit-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background:-o-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background:-ms-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477',GradientType=0);
  background-color:#fb9e25;
}
.votes-button:active {
  position:relative;
  top:1px;
  background-color:#fb9e25;
}

/* anime */

.description {
  font-family: 14px/24px Helvetica, Sans-Serif;
  font-size: 100%;
  margin: 5px 5px;
}

.new-review {
  margin: 20px 20px;
}

.each-anime-img {
  max-width: 180px;
  max-height: 135px;
}

.each-anime-rating {
  min-width: 120px;
  border-left: solid lightgrey 1px;
}

.anime {
  margin-top: 15px;
}

.each-anime {
  margin-top: 10px;
  padding: 5px;
  border: solid grey 1px;
  overflow: auto;
}

/* search */

.chardin_box {
  display: inline-block;
  padding: 0 3px;
}

/* profile */

.activity-item {
  background-color: rgba(0,0,0,.2);
  margin: 5px 20px;
}

.user-info {
  font-size: large;
}

/* others */

.fancy {
  line-height: 0.5;
  text-align: center;
  margin: 30px 0;
}
.fancy span {
  display: inline-block;
  position: relative;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  top: 0;
  width: 200px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}
