<span class="votes-button">
  <%= link_to votes_path(review_id: review.id), method: :post, remote: true do %>
    <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp;
    <%= t "review.yes" %>
  <% end %>
</span>
<span class="votes-button">
  <%= link_to vote_path(id: review.id), method: :delete, remote: true do %>
    <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp;
    <%= t "review.no" %>
  <% end %>
</span>
