<footer class="footer">
  <div class="container">
    <p><%= t "project_name" %></p>
    <nav>
      <ul>
        <li><%= link_to t("layout.footer.about"), about_path %></li>
        <li><%= link_to t("layout.footer.contact"), contact_path %></li>
        <li><%= link_to t("layout.footer.help"), help_path %></li>
      </ul>
    </nav>
  </div>
</footer>
